@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-1);
}

:root {
    --font-1: 'Urbanist', sans-serif;
    --font-2: 'Work Sans', sans-serif;
    --color-1: #2E2E3A;
    --color-2: #F5EDF0;
    --color-3: #3E92CC;
    --color-4: #80CED7;
    --color-5: #DDA448;
}

body, html {
    width: 100vw;
    height: 100vh;
}

main {
    background: var(--color-1) url("../images/BACKGROUND.png") no-repeat center center;
    background-size: cover;
    color: #F5EDF0;
}

nav {
    display: none;
}

main > div#imgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

main > div > img#logo {
    width: 40px;
}

main > div > img#menu-icon {
    width: 30px;
    cursor: pointer;
}

nav > ul > li > a {
    display: block;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-top: 2px solid #5c5c74;
}

nav > ul > li > a:hover {
    background-color: var(--color-3);
}

section#aboutme {
    display: block;
    border-top: 2px solid #5c5c74;
}

section#aboutme > h1 {
    display: block;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 2.4em;
    margin-top: 50px;
    text-align: center;
}

section#aboutme > h1 > span {
    color: var(--color-3);
    font-size: 1.5em;
}

section#aboutme > img {
    display: block;
    margin: auto;
}

section#aboutme > img#profile-photo {
    width: 70%;
}

section#aboutme > img#web-developer-logo {
    margin-top: -75px;
}

section#aboutme > p {
    width: 80%; 
    margin: 20px auto;
    text-align: center;
    font-size: 0.9em;
}

div#social-container {
    display: block;
    width: 150px;
    text-align: center;
    margin: auto;
}

div#social-container > a > img.social-field {
    padding: 10px;
    background-color: #48485a9e;
    border-radius: 12px;
    margin: 5px 3px;
    width: 45px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

div#social-container > a > img.social-field:hover {
    background-color: var(--color-3);
}

section#aboutme > div#scroll-icon {
    display: flex;
    justify-content: end;
    padding: 10px 20px 20px 10px;
    margin-top: -50px;
}

section#aboutme > div#scroll-icon > p {
    line-height: 32px;
    color: var(--color-2);
}

section#aboutme > div#scroll-icon > img {
    width: 35px;
}